.pane {
    -fx-background-color: #020202;
    -fx-border-color: #ffcc00;
    -fx-border-width: 2px;
    -fx-border-radius: 6px;
}

#selectedCard1, #selectedCard2, #selectedCard3, #selectedCard4, #selectedCard5 {
    -fx-background-color: #ffcc00;
    -fx-border-color: #ffcc00;
    -fx-border-width: 2px;
    -fx-border-radius: 6px;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, #000000, 5, 0.5, 0, 2);
}

#selectedCard1:hover, #selectedCard2:hover, #selectedCard3:hover, #selectedCard4:hover, #selectedCard5:hover {
    -fx-background-color: #ffdd33;
    -fx-cursor: hand;
}


#gamePhase {
    -fx-background-color: #d3722b;
    -fx-background-radius: 6px;
    -fx-border-color: #d3722b;
    -fx-border-width: 2px;
    -fx-border-radius: 6px;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-effect: dropshadow(gaussian, #000000, 5, 0.5, 0, 2);
}


#gameState {
    -fx-background-color: #d3722b;
    -fx-background-radius: 6px;
    -fx-border-color: #d3722b;
    -fx-border-width: 2px;
    -fx-border-radius: 6px;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-effect: dropshadow(gaussian, #000000, 5, 0.5, 0, 2);
}

#timer {
    -fx-background-color: #12497c;
    -fx-background-radius: 6px;
    -fx-border-color: #12497c;
    -fx-border-width: 2px;
    -fx-border-radius: 6px;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-effect: dropshadow(gaussian, #000000, 5, 0.5, 0, 2);
}

#card1, #card2, #card3, #card4, #card5, #card6, #card7, #card8, #card9 {
    -fx-background-color: #3a275b;
    -fx-border-color: #3a275b;
    -fx-border-width: 2px;
    -fx-border-radius: 6px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, #000000, 5, 0.5, 0, 2);
}

#card1:hover, #card2:hover, #card3:hover, #card4:hover, #card5:hover,
#card6:hover, #card7:hover, #card8:hover, #card9:hover {
    -fx-background-color: #4b0082;
    -fx-cursor: hand;
}

#resetButton {
    -fx-background-color: #b03715;
    -fx-border-color: #b03715;
    -fx-border-width: 2px;
    -fx-border-radius: 50%; /* Ensures the button is circular */
    -fx-background-radius: 50%; /* Matches the border radius */
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, #000000, 5, 0.5, 0, 2);
}
#resetButton:hover {
    -fx-background-color: #7c260e;
    -fx-cursor: hand;
}

.hbox, .vbox {
    -fx-spacing: 0;
    -fx-padding: 0;
}